extends layout

block content
  .page-header
    h2 Email / ID Generator

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-12
        button.btn.btn-primary(type='submit')
          span.ion-code
          | Generate your unique ID